body,html,#root,.terminal-base {
    height: 100%;
    width: 100%;
}

.terminal-tab-bar,.terminal-top-bar {
    display: none;
}

.terminal-container {
    display: flex;
}

.terminal-container-main {
    flex-grow: 1;
    height: 100%;
}

.terminal-holder {
    width: 100%;
}

.terminal-content {
    height: 100%;
    overflow: auto;
}

.terminal-prompt {
    width: 3%
}

.terminal-main-input {
    width: 97%;
}

input {
    outline: none;
    border: none;
}
